@model MVCBase.Entities.Location

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationStartingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationStartingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationWorkingDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationWorkingDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
