@model IEnumerable<MVCBase.Entities.Location>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationStartingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationWorkingDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationStartingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationWorkingDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LocationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LocationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LocationId })
        </td>
    </tr>
}

</table>
