@model IEnumerable<MVCBase.Entities.Order>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-success pull-right margin-bottom-10" })
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserInfo.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContainerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
     
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Location.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserInfo.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContainerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deadline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
      
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.OrderId }, new { @class = "fa fa-edit" }) |
            @Html.ActionLink(" ", "Details", new { id = item.OrderId }, new { @class = "fa fa-search" }) |
            @Html.ActionLink(" ", "Delete", new { id = item.OrderId }, new { @class = "fa fa-trash-o" })
        </td>
    </tr>
}

</table>
