@model MVCBase.Models.UserViewModel

@{
    ViewBag.Title = "Edit Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.HiddenFor(model => model.AlertMessage);
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Basic information about user</h3>
            </div>
            @using (Html.BeginForm("SaveUserInfo", "Account", FormMethod.Post, new { @role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="panel-body">

                    <div class="row">
                        @Html.LabelFor(model => model.UserInfo.FirstName, new  { @class = "col-lg-3" })
                        @Html.ValidationMessageFor(model => model.UserInfo.FirstName)
                        @Html.TextBoxFor(model => model.UserInfo.FirstName, new { @class = "col-lg-9 form-control", placeholder = "First name" })
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.UserInfo.LastName)
                        @Html.ValidationMessageFor(model => model.UserInfo.LastName)
                        @Html.TextBoxFor(model => model.UserInfo.LastName, new { @class = "form-control", placeholder = "Last name" })
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <col-lg-12>
                        <button type="submit" class="btn btn-success pull-right">Save</button>
                        <a role="button" href="@Url.Action("ChangePassword", "Account")" class="btn btn-primary pull-right margin-right-10 change-pass-btn">Change password</a>
                    </col-lg-12>
                </div>
            }
        </div>

    </div>
</div>




